* {
  box-sizing: border-box;
}

body {
  color: black;
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

/*--------------------HEADER--------------------*/

header {
  display: flex;
  justify-content: space-between;

  margin: 0 30px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}

header li {
  margin-right: 50px;
}

header nav a {
  padding-top: 28px;
  color: black;
}

header nav a:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
}

/*--------------------MAIN SECTION--------------------*/

main {
  display: flex;
  flex-wrap: wrap;

  margin: 0 30px;
}
/*--------------------SEARCH SECTION--------------------*/

#search form {
  display: inline-flex;
}

#search form label i {
  width: 50px;
  height: 50px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  border: 2px solid #f2f2f2;
  border-radius: 10px 0 0 10px;

  background-color: #f2f2f2;
  color: black;
  font-size: 20px;
}

#search form input {
  width: 220px;
  height: 50px;

  padding-left: 15px;

  border: 2px solid #f2f2f2;
}

#search form input::placeholder {
  opacity: 1; /*Firefox*/
  color: black;
  font-size: 15px;
  font-weight: bold;
}

#search form button {
  height: 50px;

  border: 2px solid #0065fc;
  border-radius: 0 10px 10px 0;
  padding: 0 20px 0 20px;

  background-color: #0065fc;
  color: white;

  font-size: 15px;
  font-weight: bold;
}

#search form button:hover {
  cursor: pointer;
}

/*--------------------FILTERS--------------------*/

#filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#filters ul {
  display: flex;
  list-style-type: none;
}

#filters ul li {
  margin-right: 30px; /* Space on the filter element's right side */
}

#filters ul li i {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;

  margin-top: -2px;
  margin-left: -2px;
  margin-right: 13px;

  border-radius: 50%;

  background-color: #deebff;
  color: #0065fc;
}

#filters ul li a {
  display: inline-flex;
  align-items: center;

  height: 50px;

  border: 2px solid #f2f2f2;
  border-radius: 25px;

  padding-right: 20px;

  color: black;
  font-weight: bold;
}

#filters ul li a:hover {
  background-color: #b6d4ff;
  box-shadow: 2px 2px 5px black;
}

#filters p {
  flex-wrap: wrap;
  width: 100%;
}

#filters p i {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 25px;
  height: 25px;

  border: 1px solid #f2f2f2;
  border-radius: 50%;

  margin-right: 15px;

  color: #0065fc;
}

/* -----WRAPPER ACCOMODATION + POPULAR SECTIONS----- */

#accomodation_popular_wrapper {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

/* --------------------ACCOMODATION SECTION-------------------- */

#accomodation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 65%;

  border-radius: 20px;
  padding: 20px;

  background-color: #f2f2f2;
}

#accomodation h2 {
  width: 100%;
}

.accomodation_card {
  width: 30%;

  padding: 10px;
  margin-bottom: 30px;

  border-radius: 20px;
  background-color: white;

  transition: box-shadow 0.5s;
}

.accomodation_card:hover {
  box-shadow: 2px 2px 10px rgb(22, 22, 22);
  transition: box-shadow 0.2s;
}

.accomodation_card a {
  display: block;

  width: 100%;
  height: 100%;

  border-radius: 20px;
}

.accomodation_card figure {
  margin: 0;

  border-radius: 20px 20px 0 0;
}

.accomodation_card figure div {
  width: 100%;
}

.accomodation_card figure div img {
  width: 100%;
  height: 130px;
  object-fit: cover;

  border-radius: 10px 10px 0 0;
}

.accomodation_card figcaption h3,
.accomodation_card figcaption p em {
  color: black;
  font-weight: bold;
}

.accomodation_card figcaption p {
  color: black;
  margin: 0;
}

.accomodation_card figcaption ul {
  display: flex;
  list-style-type: none;
  margin-bottom: 0;

  padding: 0px; /* ALIGN RATING STARS ON THE LEFT */
}

/* Select all elements exepted first X */
.three_stars ul li:nth-child(n + 4),
.four_stars ul li:nth-child(n + 5),
.five_stars ul li:nth-child(n + 6) {
  color: darkgrey;
}

/* Select only first X elements */
.three_stars ul li:nth-child(-n + 3),
.four_stars ul li:nth-child(-n + 4),
.five_stars ul li:nth-child(-n + 5) {
  color: #0065fc;
}

#show_more {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;

  color: black;

  font-size: 20px;
  font-weight: bold;
}

/* -------------------- POPULAR SECTION-------------------- */

aside ul {
  display: flex;

  padding-left: 0;

  list-style-type: none;
}

#popular {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 33%;

  border-radius: 20px;
  padding: 20px;

  background-color: #f2f2f2;
}

#popular h2 {
  display: flex;
  align-self: flex-start;
  margin-bottom: 19.92px;
}

#popular h2 i {
  padding-left: 300px;
}

.popular_card {
  width: 100%;

  justify-content: space-around;

  margin-bottom: 33px;
  padding: 10px;

  border-radius: 20px;

  background-color: white;

  transition: box-shadow 0.5s;
}

.popular_card:hover {
  box-shadow: 2px 2px 10px rgb(22, 22, 22);
  transition: box-shadow 0.2s;
}

.popular_card a {
  display: block;

  width: 100%;
  height: 100%;

  border-radius: 20px;
}

.popular_card figure {
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: space-between; */

  margin: 0;

  border-radius: 20px 0 0 20px;
}

.popular_card figure div {
  width: 30%;
}

.popular_card figure div img {
  width: 100%;
  height: 150px;
  object-fit: cover;

  border-radius: 10px 0 0 10px;
}

.popular_card figure figcaption {
  padding-left: 30px;
}

.popular_card figure figcaption h3,
.popular_card figure figcaption p em {
  color: black;
  font-weight: bold;
}

.popular_card figure figcaption p {
  margin-bottom: 55px;
  color: black;
}

.popular_card figure figcaption ul {
  display: flex;

  list-style-type: none;

  padding: 0px; /* ALIGN RATING STARS ON THE LEFT */

  margin-bottom: 0;
}

/* --------------------ACTIVITY SECTION-------------------- */

#activity {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 50px;
}

#activity h2 {
  width: 100%;
}

.column {
  width: 23%;
  height: 600px;

  border-radius: 20px;

  box-shadow: 2px 2px 30px rgb(204, 203, 203);
}

.column a {
  display: block;

  width: 100%;
  height: 100%;
}

.activity_card {
  width: 100%;
  height: 100%;
}

.activity_card figure {
  width: 100%;
  margin: 0;
}

.activity_card figure div {
  width: 100%;
}

.activity_card figure div img {
  width: 100%;
  height: 530px;
  object-fit: cover;

  border-radius: 20px 20px 0 0;
}

.activity_card figure figcaption h3 {
  color: black;
}

/*===============================DOUBLE COLUMN============================*/

.double_column {
  width: 23%;
  height: 600px;
}

.double_column a {
  display: block;

  width: 100%;
  height: 100%;

  color: black;
}

/*========================CARD TOP=====================================*/

.activity_card_top {
  height: 60%;

  border-radius: 20px;

  margin-bottom: 50px;

  box-shadow: 2px 2px 30px rgb(204, 203, 203);
}

.activity_card_top figure {
  margin: 0;

  height: 100%;
}

.activity_card_top figure div {
  height: 80%;
}

.activity_card_top figure div img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  border-radius: 20px 20px 0 0;
}

.activity_card_top figure figcaption h3 {
  color: black;
}

/*=====================CARD BOTTOM=======================================*/

.activity_card_bottom {
  height: 32%;

  border-radius: 20px;

  box-shadow: 2px 2px 30px rgb(204, 203, 203);
}

.activity_card_bottom figure {
  margin: 0;

  height: 100%;
}

.activity_card_bottom figure div {
  height: 63%;
}

.activity_card_bottom figure div img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  border-radius: 20px 20px 0 0;
}

/*===============================================================*/
/* IMG IN ACTIVITY SECTION */

footer {
  display: flex;

  margin-top: 100px;

  background-color: #f2f2f2;
}

footer ul {
  list-style-type: none;

  padding: 0;
}

/* FIRST CONTAINER IN FOOTER SECTION */
#footer_container {
  display: flex;
  justify-content: space-between;

  padding-left: 50px;

  width: 70%;
}

/* FOOTER H2 TITLES*/
#footer_container h2 {
  font-size: 20px;
  font-weight: bold;
}

/* FOOTER LINKS */
#footer_container a {
  color: black;
}

/* --------------------CSS FOR MOBILE VERSIONS-------------------- */

/* CREATE CSS INFERIOR TO 1200px */
/* @media all and (max-width: 1199px) {
} */

/* CREATE CSS INFERIOR TO 992px */
/* @media all and (max-width: 991px) {
} */

/* CREATE CSS INFERIOR TO 768px */
/* @media all and (max-width: 767px) {
} */

/* CREATE CSS INFERIOR TO 576px */
/* @media all and (max-width: 575px) {
} */
