/* BODY */
body {
  min-width: 1200px;
  margin: 50px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

/* WHOLE PAGE LINKS */
a {
  text-decoration: none;
}

/*--------------------HEADER--------------------*/

/* HEADER FLEX CONTAINER */
header,
header ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}

/* HEADER LI ELEMENTS MENU */
header li {
  margin-right: 50px;
}

/* LINKS IN NAV SECTION */
nav a {
  padding-top: 28px;
  color: black;
}

/* HOVER EVENT ON LINKS IN NAV SECTION */
nav a:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
}

/*--------------------MAIN SECTION--------------------*/
/* MAIN SECTION */
main {
  display: flex;
  flex-wrap: wrap;
}
/*--------------------SEARCH SECTION--------------------*/

/* SEARCH FORMULAR */
#search form {
  display: inline-flex;
}

/* SEARCH FORMULAR ICON*/
#search form label i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #f2f2f2;
  border-radius: 10px 0 0 10px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  color: black;
  background-color: #f2f2f2;
  font-size: 20px;
}

/* FORMULAR SEARCH FIELD */
#search form input {
  box-sizing: border-box;
  width: 220px;
  height: 50px;
  border: 2px solid #f2f2f2;
}

/* SEARCH FIELD PLACEHOLDER */
#search form input::placeholder {
  opacity: 1; /*Firefox*/
  color: black;
  font-size: 15px;
  font-weight: bold;
}

/* FORMULAR BUTTON */
#search form button {
  border: 2px solid #0065fc;
  box-sizing: border-box;
  border-radius: 0 10px 10px 0;
  height: 50px;
  color: white;
  background-color: #0065fc;
  font-size: 15px;
  padding: 0 20px 0 20px;
  font-weight: bold;
}

/*--------------------FILTERS--------------------*/

/* ID #FILTERS SECTION */
#filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

/* UL IN FILTERS SECTION */
#filters ul {
  display: flex;
  width: 50%;
  justify-content: space-between;
  list-style-type: none;
}

/* LIST ELEMENTS IN FILTERS*/
#filters ul li {
  margin-right: 30px; /* Space on the filter element's right side */
}

/*PARAGRAPHS IN FILTERS SECTION */
#filters p {
  flex-wrap: wrap;
  width: 50%;
}

/* FILTERS ICONS */
#filters ul li i {
  color: #0065fc;
  background-color: #deebff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: -2px;
  margin-left: -2px;
  margin-right: 13px;
}

#filters ul li a {
  display: inline-flex;
  align-items: center;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  color: black;
  font-weight: bold;
  padding-right: 20px;
}

#filters ul li:nth-child(4) {
  min-width: 230px; /* Forced size for 4th filter to 230px*/
}

/* FILTER LINKS HOVER EVENT*/
#filters ul li a:hover {
  background-color: #b6d4ff;
  box-shadow: 2px 2px 5px black;
}

#filters p i {
  width: 25px;
  height: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  margin-right: 15px;
}

/* --------------------ACCOMODATION SECTION-------------------- */
/* SECTION ACCOMODATION */
#accomodation {
  display: flex;
  flex-wrap: wrap;
  width: 66%;
  background-color: #f2f2f2;
  border: 0px solid black;
  border-radius: 15px;
  margin-right: 15px;
}

/*H2 TITLE ACCOMODATION SECTION */
#accomodation h2 {
  width: 100%;
  padding-left: 40px;
}

/* UL IN ACCOMODATION SECTION */
#accomodation ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

/* ARTICLE IN ACCOMODATION SECTION */
#accomodation article {
  display: flex;
}

/* LINKS IN ACCOMODATION SECTION */
#accomodation img {
  height: 300px;
}

/* -------------------- POPULAR SECTION-------------------- */
/* UL IN ASIDE SECTION */
aside ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

/* MOST POPULAR SECTION */
#popular {
  display: flex;
  flex-direction: column;
  width: 33%;
  border: 0px solid black;
  border-radius: 15px;
  background-color: #f2f2f2;
}

/* POPULAR SECTION */
#popular img {
  height: 200px;
}

/* POPULAR H2 TITLE*/
#popular h2 {
  /* padding-left: 40px; */
  display: inline-flex;
  justify-content: space-around;
}

/* --------------------ACTIVITY SECTION-------------------- */
/* ACTIVITY SECTION */
#activity {
  display: flex;
  flex-wrap: wrap;
}

/* H2 TITLE IN ACTIVITY SECTION */
#activity h2 {
  width: 100%;
}

/* IMG IN ACTIVITY SECTION */
#activity img {
  height: 130px;
}

/* FIRST CONTAINER IN FOOTER SECTION */
#footer_container {
  display: flex;
  justify-content: space-around;
}

/* --------------------CSS FOR MOBILE VERSIONS-------------------- */
/* CREATE CSS INFERIOR TO 1200px */
@media all and (max-width: 1199px) {
}

/* CREATE CSS INFERIOR TO 992px */
@media all and (max-width: 991px) {
}

/* CREATE CSS INFERIOR TO 768px */
@media all and (max-width: 767px) {
}

/* CREATE CSS INFERIOR TO 576px */
@media all and (max-width: 575px) {
}
