* {
  box-sizing: border-box;
}

body {
  color: black;
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

/*--------------------HEADER--------------------*/

header {
  display: flex;
  justify-content: space-between;

  margin: 0 100px;
}

header a img {
  height: 50px;
  padding-left: 15px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}

header li {
  margin-right: 50px;
}

header nav a {
  padding-top: 15px;
  color: black;
}

header nav a:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
}

/*--------------------MAIN SECTION--------------------*/

main {
  display: flex;
  flex-wrap: wrap;

  margin: 0 100px;
}
/*--------------------SEARCH SECTION--------------------*/

#search form {
  display: inline-flex;
}

#search form label i {
  width: 50px;
  height: 50px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  border: 2px solid #f2f2f2;
  border-radius: 10px 0 0 10px;

  background-color: #f2f2f2;
  color: black;
  font-size: 20px;
}

#search form input {
  width: 220px;
  height: 50px;

  padding-left: 15px;

  border: 2px solid #f2f2f2;
}

#search form input::placeholder {
  opacity: 1; /*Firefox*/
  color: black;
  font-size: 15px;
  font-weight: bold;
}

#search form button {
  height: 50px;

  border: 2px solid #0065fc;
  border-radius: 0 10px 10px 0;
  padding: 0 20px 0 20px;

  background-color: #0065fc;
  color: white;

  font-size: 15px;
  font-weight: bold;
}

#search form button:hover {
  cursor: pointer;
}

#glass_button {
  display: none;
}

#text_button {
  display: inline;
}

/*--------------------FILTERS--------------------*/

#filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#filters ul {
  display: flex;
  list-style-type: none;
}

#filters ul li {
  margin-right: 30px; /* Space on the filter element's right side */
}

#filters ul li i {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;

  margin-top: -2px;
  margin-left: -2px;
  margin-right: 13px;

  border-radius: 50%;

  background-color: #deebff;
  color: #0065fc;
}

#filters ul li a {
  display: inline-flex;
  align-items: center;

  height: 50px;

  border: 2px solid #f2f2f2;
  border-radius: 25px;

  padding-right: 20px;

  color: black;
  font-weight: bold;
}

#filters ul li a:hover {
  background-color: #b6d4ff;
  box-shadow: 2px 2px 5px black;
}

#filters p {
  flex-wrap: wrap;
  width: 100%;
}

#filters p i {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 25px;
  height: 25px;

  border: 1px solid #f2f2f2;
  border-radius: 50%;

  margin-right: 15px;

  color: #0065fc;
}

/* -----WRAPPER ACCOMODATION + POPULAR SECTIONS----- */

#accomodation_popular_wrapper {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

/* --------------------ACCOMODATION SECTION-------------------- */

#accomodation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 65%;

  border-radius: 20px;
  padding: 20px;

  background-color: #f2f2f2;
}

#accomodation h2 {
  width: 100%;
}

.accomodation_card {
  width: 30%;

  padding: 10px;
  margin-bottom: 30px;

  border-radius: 20px;
  background-color: white;

  transition: box-shadow 0.5s;
}

.accomodation_card:hover {
  box-shadow: 2px 2px 10px rgb(22, 22, 22);
  transition: box-shadow 0.2s;
}

.accomodation_card a {
  display: block;

  width: 100%;
  height: 100%;

  border-radius: 20px;
}

.accomodation_card figure {
  margin: 0;

  border-radius: 20px 20px 0 0;
}

.accomodation_card figure div {
  width: 100%;
}

.accomodation_card figure div img {
  width: 100%;
  height: 130px;
  object-fit: cover;

  border-radius: 10px 10px 0 0;
}

.accomodation_card figcaption h3,
.accomodation_card figcaption p em {
  color: black;
  font-weight: bold;
}

.accomodation_card figcaption p {
  color: black;
  margin: 0;
}

.accomodation_card figcaption ul {
  display: flex;
  list-style-type: none;
  margin-bottom: 0;

  padding: 0px; /* ALIGN RATING STARS ON THE LEFT */
}

/* Select all elements exepted first X */
.three_stars ul li:nth-child(n + 4),
.four_stars ul li:nth-child(n + 5),
.five_stars ul li:nth-child(n + 6) {
  color: darkgrey;
}

/* Select only first X elements */
.three_stars ul li:nth-child(-n + 3),
.four_stars ul li:nth-child(-n + 4),
.five_stars ul li:nth-child(-n + 5) {
  color: #0065fc;
}

#show_more {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;

  color: black;

  font-size: 20px;
  font-weight: bold;
}

/* -------------------- POPULAR SECTION-------------------- */

aside ul {
  display: flex;

  padding-left: 0;

  list-style-type: none;
}

#popular {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 33%;

  border-radius: 20px;
  padding: 20px;

  background-color: #f2f2f2;
}

#title_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  width: 100%;
}

#popular_icon {
  font-size: 20px;
}

.popular_card {
  width: 100%;

  justify-content: space-around;

  margin-bottom: 33px;
  padding: 10px;

  border-radius: 20px;

  background-color: white;

  transition: box-shadow 0.5s;
}

.popular_card:hover {
  box-shadow: 2px 2px 10px rgb(22, 22, 22);
  transition: box-shadow 0.2s;
}

.popular_card a {
  display: block;

  width: 100%;
  height: 100%;

  border-radius: 20px;
}

.popular_card figure {
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: space-between; */

  margin: 0;

  border-radius: 20px 0 0 20px;
}

.popular_card figure div {
  width: 30%;
}

.popular_card figure div img {
  width: 100%;
  height: 150px;
  object-fit: cover;

  border-radius: 10px 0 0 10px;
}

.popular_card figure figcaption {
  padding-left: 30px;
}

.popular_card figure figcaption h3,
.popular_card figure figcaption p em {
  color: black;
  font-weight: bold;
}

.popular_card figure figcaption p {
  margin-bottom: 55px;
  color: black;
}

.popular_card figure figcaption ul {
  display: flex;

  list-style-type: none;

  padding: 0px; /* ALIGN RATING STARS ON THE LEFT */

  margin-bottom: 0;
}

/* --------------------ACTIVITY SECTION-------------------- */

#activity {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 50px;
}

#activity h2 {
  width: 100%;
}

#activity figure figcaption h3 {
  color: black;

  padding-left: 20px;
}

/* ======================SINGLE COLUMNS========================= */

.column1,
.column3 {
  width: 23%;
  height: 600px;

  border-radius: 20px;

  box-shadow: 2px 2px 30px rgb(204, 203, 203);
}

.column1 a,
.column3 a {
  display: block;

  width: 100%;
  height: 100%;
}

.column1 .activity_card,
.column3 .activity_card {
  width: 100%;
  height: 100%;
}

.column1 .activity_card figure,
.column3 .activity_card figure {
  width: 100%;
  margin: 0;
}

.column1 .activity_card figure div,
.column3 .activity_card figure div {
  width: 100%;
}

.column1 .activity_card figure div img,
.column3 .activity_card figure div img {
  width: 100%;
  height: 530px;
  object-fit: cover;

  border-radius: 20px 20px 0 0;
}

/*===============================DOUBLE PICTURE COLUMN============================*/

.column2,
.column4 {
  width: 23%;
  height: 600px;
}

.column2 a,
.column4 a {
  display: block;

  width: 100%;
  height: 100%;
}

/*========================COLUMN 2 TOP CARD=====================================*/

.column2 .activity_card_top {
  height: 55%;

  border-radius: 20px;

  margin-bottom: 50px;

  box-shadow: 2px 2px 30px rgb(204, 203, 203);
}

.column2 .activity_card_top figure {
  margin: 0;

  height: 100%;
}

.column2 .activity_card_top figure div {
  height: 85%;
}

.column2 .activity_card_top figure div img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  border-radius: 20px 20px 0 0;
}

/*=====================COLUMN 2 BOTTOM CARD=======================================*/

.column2 .activity_card_bottom {
  height: 37%;

  border-radius: 20px;

  box-shadow: 2px 2px 30px rgb(204, 203, 203);
}

.column2 .activity_card_bottom figure {
  margin: 0;

  height: 100%;
}

.column2 .activity_card_bottom figure div {
  height: 63%;
}

.column2 .activity_card_bottom figure div img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  border-radius: 20px 20px 0 0;
}

/*========================COLUMN 4 TOP CARD=====================================*/

.column4 .activity_card_top {
  height: 46%;

  border-radius: 20px;

  margin-bottom: 50px;

  box-shadow: 2px 2px 30px rgb(204, 203, 203);
}

.column4 .activity_card_top figure {
  margin: 0;

  height: 100%;
}

.column4 .activity_card_top figure div {
  height: 80%;
}

.column4 .activity_card_top figure div img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  border-radius: 20px 20px 0 0;
}

/*=====================COLUMN 4 BOTTOM CARD=======================================*/

.column4 .activity_card_bottom {
  height: 46%;

  border-radius: 20px;

  box-shadow: 2px 2px 30px rgb(204, 203, 203);
}

.column4 .activity_card_bottom figure {
  margin: 0;

  height: 100%;
}

.column4 .activity_card_bottom figure div {
  height: 80%;
}

.column4 .activity_card_bottom figure div img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  border-radius: 20px 20px 0 0;
}

/*===============================================================*/

footer {
  display: flex;

  margin-top: 100px;

  background-color: #f2f2f2;
}

footer ul {
  list-style-type: none;

  padding: 0;
}

/* FIRST CONTAINER IN FOOTER SECTION */
#footer_container {
  display: flex;
  justify-content: space-between;

  padding-left: 100px;

  width: 70%;
}

/* FOOTER H2 TITLES*/
#footer_container h2 {
  font-size: 20px;
  font-weight: bold;
}

/* FOOTER LINKS */
#footer_container a {
  color: black;
}

/* --------------------CSS FOR MOBILE VERSIONS-------------------- */

/* CREATE CSS BETWEEN 768px AND 991px (TABLETTE) */
@media screen and (min-width: 768px) and (max-width: 991px) {
}

/* CREATE CSS INFERIOR TO 768px (MOBILE) */
@media screen and (max-width: 767px) {
  * {
    box-sizing: border-box;
  }

  body {
    color: black;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    max-width: 767px;
    margin: 0;
  }

  main {
    margin: 10px;
  }

  a {
    text-decoration: none;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    margin: 0;
  }

  header a img {
    padding-left: 0;
  }

  header nav {
    width: 100%;
  }

  header nav ul li {
    margin: 0;
    display: block;
    list-style: none;
    width: 50%;
  }

  header nav ul li a {
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid rgb(219, 213, 213);
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
  }

  header nav ul li a:hover {
    border-top: none;
    border-bottom: 3px solid #0065fc;
  }

  #search h1 {
    font-size: 30px;
  }

  #text_button {
    display: none;
  }
}

/* CREATE CSS INFERIOR TO 576px */
/* @media screen and (max-width: 575px) {
} */
